@media (min-width: 768px) {

  .card {
    /* max-width: 700px; */
    /* width: 90%;
    height: 92vh; */
    padding: 40px;
    padding-bottom: 70px;
  }

  .icon-container .button {
    font-size: 2rem;
  }

  .nav-container {
    justify-content: center;
    gap: 20px;
  }

  .home .home-content h1 {
    font-size: 32px;
  }

  .home-content h3,
  .aboutH3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .homeParagraph,
  .aboutP {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {

  .card {
    /* width: 100vh; */
    /* max-width: 1200px; */
    /* width: 88%;
    height: 90vh; */
    /* min-height: 90vh; */
    padding: 40px;
    padding-bottom: 70px;
    /* margin: 0 0; */
  }

  .nav-container {
    gap: 20px;
  }

  .home .home-content h1 {
    font-size: 45px;
  }

  .home-content h3,
  .aboutH3,
  .portfolioH3 {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .homeParagraph,
  .aboutP {
    font-size: 18px;
    margin-bottom: 70px;
  }

  .indexProjectContainer {
    display: flex;
  }

  .aboutCardContainer {
    gap: 20px;
    margin-bottom: 2rem;
  }

  .aboutCard {
    width: 180px;
    height: 65px;
  }

  .aboutInnerCard {
    gap: 10px;
  }

  .aboutText {
    font-size: 1.6rem;
  }

  .aboutImage {
    width: 30px;
  }

  .imgCover {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 1366px) {

  .card {
    width: 75%;
    height: 80vh;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
      -15px -15px 30px rgb(60, 60, 60);
  }

  .header {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 97%;
    height: 15%;
    padding: 10px;
    /* padding: 20px 0; */
    /* margin-bottom: 5px; */
  }

  .footer {
    height: auto;
    padding: 0;
    /* margin-top: 10px; */
    margin: 0;
    /* bottom: 1.5%; */
    /* left: 0; */
    width: 45%;
    /* width: 100%; */
    gap: 10px;
    position: absolute;
    /* background-color: aliceblue; */
  }

  .footer .button-container {
    align-items: baseline;
    margin-top: 20%;
  }

  #logo {
    width: 60px;
  }

  .nav_container {
    margin-top: 10px;
  }

  /* NAV START */
  .button-container {
    display: flex;
    width: 350px;
    height: 40px;
    align-items: center;
    justify-content: space-around;
  }

  .button {
    outline: 0;
    border: 0;
    width: 65px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon {
    font-size: 20px;
  }

  .home {
    gap: 8rem;
  }

  .home .home-content h1 {
    font-size: 40px;
  }

  .home-content h3 {
    font-size: 25px;
  }

  .homeParagraph {
    font-size: 1.6rem;
    margin-bottom: 5rem;
    /* mb 10rem for bigger screens */
  }

  .portfolioH3 {
    font-size: 3rem;
    /* margin-bottom: 3rem !important;
    margin-left: 2rem !important; */
    margin-bottom: 3rem;
    margin-left: 2rem;
  }

  .portfolioP {
    font-size: 1.6rem;
    margin-bottom: 3rem;
  }

  .aboutH3 {
    font-size: 3rem;
    margin-top: 1rem;
  }

  .aboutP {
    font-size: 1.6rem;
    margin-bottom: 3rem;
  }

  /* PORTFOLIO END */

  .typing-text {
    font-size: 34px;
    min-width: 280px;
  }

  .typing-text span::after {
    width: calc(100% + 8px);
    height: 100%;
  }

  .portfolioProjectContainer,
  .indexProjectContainer {
    max-width: 1300px;
    max-height: 800px;
    margin-top: 6rem;
    gap: 20px;
    justify-content: space-around;
  }

  .projectCard .title {
    font-size: 1.6rem;
  }

  .projectCard .description {
    font-size: 1.4rem;
  }

  .aboutCardContainer {
    gap: 20px;
    margin-bottom: 3rem;
  }

  .aboutCard {
    width: 210px;
    height: 70px;
  }

  .aboutInnerCard {
    gap: 10px;
  }

  .aboutText {
    font-size: 1.6rem;
  }

  .aboutImage {
    width: 30px;
  }

  .imgCover {
    width: 50px;
    height: 50px;
  }

  /* NAV END */

  /* ****************************************************************************************************************************************************************************** */

  .logo-container .logo-content {
    margin: 0 10px;
    position: relative;
  }

  .logo-container .logo-content .myName {
    bottom: -30px;
    /* left: 0; */
    /* left: 45px; */
    left: 55px;
    /* right: 50% !important; */
    font-size: 14px;
    width: 140px;
  }

  .logo-container .logo-content:hover .myName {
    left: 55px;
    bottom: -40px;
  }

  .logo-container .logo-content .myImage {
    bottom: 30px;
    left: -32px;
    right: 0;
    font-size: 14px;
    width: 130px;
    text-align: center;
  }

  .logo-container .logo-content:hover .myImage {
    right: 0;
    bottom: 70px;
  }
}

@media (min-width: 1440px) {

  .card {
    /* width: 70%;
    height: 80vh; */
    max-width: 2200px;
    max-height: 1000px;
    padding: 25px;
    padding-bottom: 130px;
  }

  .header {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 97%;
    height: 15%;
    padding: 25px;
    margin-bottom: 5px;
  }

  .footer {
    /* height: 20px; */
    width: 30%;
    margin-bottom: 50px;
  }

  /* .footer .button-container {
    align-items: baseline;
  } */

  #logo {
    width: 60px;
  }

  .nav_container {
    margin-top: 10px;
  }

  /* NAV START */
  .button-container {
    display: flex;
    width: 350px;
    height: 40px;
    align-items: center;
    justify-content: space-around;
  }

  .button {
    /* outline: 0 !important;
    border: 0 !important; */
    outline: 0;
    border: 0;
    width: 65px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon {
    font-size: 20px;
  }

  .home {
    gap: 8rem;
  }

  .home .home-content h1 {
    font-size: 6rem;
  }

  .home-content h3 {
    font-size: 4rem;
  }

  .homeParagraph {
    font-size: 2rem;
    margin-bottom: 7rem;
    /* mb 10rem for bigger screens */
  }

  .portfolioH3 {
    font-size: 3rem;
    /* margin-bottom: 3rem !important;
    margin-left: 2rem !important; */
    margin-bottom: 3rem;
    margin-left: 2rem;
  }

  .portfolioP {
    font-size: 1.6rem;
    /* margin-bottom: 3rem !important; */
    margin-bottom: 3rem;
  }

  .aboutH3 {
    font-size: 3rem;
    /* margin-top: 1rem !important; */
    margin-top: 1rem;
  }

  .aboutP {
    font-size: 1.6rem;
    /* margin-bottom: 3rem !important; */
    margin-bottom: 3rem;
  }

  /* PORTFOLIO END */

  .typing-text {
    font-size: 34px;
    min-width: 280px;
  }

  .typing-text span::after {
    width: calc(100% + 8px);
    height: 100%;
  }

  .portfolioProjectContainer,
  .indexProjectContainer {
    max-width: 1300px;
    max-height: 800px;
    margin-top: 6rem;
  }

  .projectCard {
    width: 260px;
    height: 254px;
  }

  .projectCard .title {
    font-size: 1.8rem;
  }

  .projectCard .description {
    font-size: 1.6rem;
  }

  .aboutCardContainer {
    gap: 20px;
    margin-bottom: 3rem;
    max-width: 100%;
    margin: 0 auto;
  }

  .aboutCard {
    width: 210px;
    height: 70px;
  }

  .aboutInnerCard {
    gap: 10px;
  }

  .aboutText {
    font-size: 1.6rem;
  }

  .aboutImage {
    width: 30px;
  }

  .imgCover {
    width: 50px;
    height: 50px;
  }

  /* NAV END */

  /* ****************************************************************************************************************************************************************************** */

  /* .logo-container .logo-content {
    margin: 0 10px;
    position: relative;
  }

  .logo-container .logo-content .myName {
    bottom: -30px;
    left: 45px;
    left: 55%;
    font-size: 14px;
    width: 140px;
  }

  .logo-container .logo-content:hover .myName {
    left: 55%;
    bottom: -40px;
  }

  .logo-container .logo-content .myImage {
    bottom: 30px;
    left: -30%;
    right: 0;
    font-size: 14px;
    width: 130px;
    text-align: center;
  }

  .logo-container .logo-content:hover .myImage {
    right: 0;
    bottom: 70px;
  } */
}